---
import unMarkdown from "../../../../lib/utils/unMarkdown";

export type Props = {
    title: string;
    description: string;
    eyebrow: string;
};

export const partial = true;

const { title, description, eyebrow } = Astro.props;
---

<div class="root">
    <div class="eyebrow">
        {eyebrow}
    </div>
    <h1 class="title">{title}</h1>
    <div class="description">{unMarkdown(description)}</div>
</div>
<style is:inline>
    div {
        display: flex;
        flex-direction: column;
    }
    .root {
        font-family: "Inter";
        width: 100%;
        height: 100%;
        align-items: stretch;
        background: hsl(206, 30%, 98.8%);
        color: hsl(206, 24%, 9%);
        font-size: 60px;
    }
    .root > div {
        padding: 2rem;
    }
    .title {
        font-family: "EB Garamond";
        font-size: 80px;
        margin: 0;
        text-wrap: balance;
    }
    .eyebrow {
        margin-top: 3rem;
        color: hsl(206, 6%, 43.5%);
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        font-variant-numeric: lining-nums;
    }
    .description {
        color: hsl(206, 6%, 43.5%);
    }
</style>
