---

---

<footer>
    <p class="u-guttered">
        <small>
            This site is an unofficial resource created by
            <a href="https://tylermercer.net">Tyler Mercer</a>, and is not in any
            way affiliated with <em>The Chosen</em>, Come and See Foundation, or
            Loaves and Fishes Productions.
        </small>
    </p>
</footer>
<style lang="scss">
    footer {
        background-color: var(--gray-800);
        color: var(--gray-100);
        line-height: var(--lh-0);
        padding-block: var(--space-m);
        position: sticky;
        top: 100vh;
        top: 100svh;
        & p {
            margin-block: 0;
            padding-block-start: 0;
            padding-block-end: var(--space-xs);
        }
        & p:last-child {
            padding-block-end: 0;
        }
        & a {
            color: var(--primary-300);
            &:hover {
                color: var(--primary-200);
            }
        }
    }
</style>
