---
import Base from "@layouts/Base.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";

import * as page from "../content/_one-offs/about.md";


const {
	Content,
	frontmatter: { title, description: tagline },
} = page;
---

<Base title={`${title} | Scriptures of The Chosen`}>
    <NavigationBar />
    <main class="u-guttered">
        <h1>{title}</h1>
		<Content />
    </main>
    <Footer />
</Base>
