---
import Base from "@layouts/Base.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";

import * as landingPage from "../content/_one-offs/landing-page.md";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ReferencesSummary from "@components/ReferencesSummary.astro";

const {
	Content,
	frontmatter: { title, description: tagline },
} = landingPage;

const seasons = await getCollection("seasons");

const references = new Map(await Promise.all(
	seasons.map(
		async (s: CollectionEntry<"seasons">) => [
			s.id,
			(
				await getCollection(
					"episodes",
					(e: CollectionEntry<"episodes">) =>
						//cast is necessary because of a bug in Astro
						(e.data.season as { id: string}).id === s.id,
				)
			).flatMap((e) => e.data.references),
		] as const,
	),
));

type Season = CollectionEntry<"seasons">;
---

<Base title={title + " | " + tagline}>
	<NavigationBar />
	<main class="u-guttered">
		<h1>{title}</h1>
		<Content />
		<h2>Seasons</h2>
		<ol>
			{
				seasons.map((s: Season) => (
					<li>
						<h3>
							<a href={`/${s.id}`}>{s.data.title}</a>
						</h3>
						<p>
							<ReferencesSummary references={references.get(s.id)!} />
						</p>
					</li>
				))
			}
		</ol>
	</main>
	<Footer />
</Base>
