---
import Base from "@layouts/Base.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";

import * as landingPage from "../content/_one-offs/landing-page.md";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const {
	Content,
	frontmatter: { title, description: tagline },
} = landingPage;

const seasons = await getCollection('seasons');
---

<Base title={title + " | " + tagline}>
	<NavigationBar />
	<main class="u-guttered">
		<h1>{title}</h1>
		<Content />
		<h2>Seasons</h2>
		<ol>
			{seasons.map((s: CollectionEntry<'seasons'>) => (
				<li><a href={`/${s.id}`}>{s.data.title}</a></li>
			))}
		</ol>
	</main>
	<Footer />
</Base>
