---
import pluralize from '@utils/pluralize';
import type { CollectionEntry } from 'astro:content'
export type Props = {
    references: CollectionEntry<'episodes'>['data']['references'],
}

const { references } = Astro.props;
---

<span>
    {references.length} {pluralize("scripture", references.length)} found    
</span>